.profile {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 120px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;

}

.item {
    height: 64px;
    text-align: left;
    vertical-align: middle;
}

.link {
    text-decoration: none;
    color: #8585ad;
}

.active {
    color: #fff;
}

.action {

}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 844px;
    overflow-y: scroll;
    height: calc(100vh - 200px);
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37;

}
.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.message{
    text-align: center;
    width: 320px;
}
.load{
    text-align: center;
}