.ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #1C1C21;
    padding-right: 32px;
    padding-left: 24px;
    width: 536px;
    min-height: 80px;
    flex-grow: 0;
    box-sizing: border-box;
}

.top {
    border-radius: 80px 80px 40px 40px;
}

.bottom {
    border-radius: 40px 40px 80px 80px;
}

.position {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: flex-end;
}

.name {
    width: 254px;
}

.image {
    width: 80px;
    height: 40px;
    display: flex;
}

.dnd {
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
}
