.product{
    width: 272px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img{

}
.price{
    display: flex;
    align-items: center;
    justify-content: center;

}
.name{

}