.product{
    width: 272px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.product_img{

}
.product_price{
    display: flex;
    align-items: center;
    justify-content: center;

}
.product_name{

}