.reset {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 480px;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    align-items: center;
}

.button {
    text-align: center;
}

.login {
    margin-top: 80px;
    text-align: center;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}

.message{
    text-align: center;
}
