.wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 88px);
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.digits {
    font-size: 300px;
    font-family: "Jet Brains Mono";
}
